
body {font-family: Arial;}
.container {
  border: 2px solid #f1f1f1;
  border-radius: 8px;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 24px;
  padding-bottom: 24px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */

.butn1{
padding-top: 14px;
}

.btn2 {
  width: 10%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #e91212;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: #ffffff;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(224, 46, 46);
  color: #000000;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(243, 47, 47);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 24px 24px;
  border: 1px solid #ccc;
  border-top: none;
}
