<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/css-responsesadm.css">
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar">
      <div class="brand-title">E-Voting WepApp</div>
      <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </a>
      <div class="navbar-links">
        <ul>
          <li><a href="/home">Home <br></a></li>


        </ul>
      </div>

      <div class="center">

          <div class="msg">
            <h1><%=msg%></h1>

          </div>



    </div>



    </nav>
  </body>
</html>
